.header-wrapper {
    width: 100%;
    margin-top: -23px;
    background: $secondaryCol;
}

.header-address-box {
    background: $primaryCol;
}


.dealer-name {
    @include primaryFontStackLight;
    @media screen and (min-width: 768px) {
        float: right;
        margin: 0;
    }
}

.brand-dealer-link {
    @include primaryFontStackLight;
    font-size: 20px;
    letter-spacing: .7px;
    color: $primaryCol;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    @media screen and (min-width: 768px) {
        font-size: 34px;
    }
}

.brand-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
}
// address bar //

.address-bar-wrapper {
    font-size: 13px;
    background-color: #000;
    padding: 4px 0;
    display: block;
}

.address-bar {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        float: right;
    }
}

.address-bar-dealer-information {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        float: left;
    }
}

.address-bar-text-wrapper span,
.address-bar-text a {
	color: #fff;
	height: 25px;
	line-height: 25px;
}

.address-bar-text {
	margin-right: 8px;
}



.dealer-information {
    float: left;
    margin: 0;
}

.icon-svg-location, .icon-svg-phone {
    fill: #c3002f;
    width: 12px;
    top: 2px;
    margin-right: 4px;
    margin-left: 11px;
}

.address-bar-pipe {
    display: none;
}

.social-wrapper {
	float: left;
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		float: left;
	}
}